<div class="errorPage">
    <div class="topbar"><h3>VI'R'US Community</h3></div>

    <div class="errorPage__container">

        <div class="errorPage__container--msg">
            <h3>ERROR</h3>
            <p style="font-size: 2.5rem;">Something went wrong. Forgive us for the inconvienance. We'll get to fixing this right away!</p>
        </div>
    </div>
</div>