<div class="homePage">
    <div class="topbar"><h3>Welcome to VI'R'US!</h3></div>

    <div class="homePage__container">

        <div class="homePage__container--content">
            <h3>Welcome!</h3>
            <div style="width: 80%; margin: 8rem;">This page serves the purpose of spreading awareness on biological viruses, as well as allowing the community 
                with oppurtunities to make a difference! In this page, one is able to gain knowledge on viruses, output posts on thoughts 
                related to viruses, upload research/content, subscribe to emails, chat with others in real-time, and contact their local health department by home state.
            </div>
            <div id="sig">Created by: Nermin Dedovic</div>
        </div>
            
        

    </div>
</div>