<div class="infoPage">
    <div class="topbar"><h3>Virus Information</h3></div>

    <div class="infoPage__seg">
        <div class="infoPage__seg--title">What are Viruses?</div>
        <div class="infoPage__seg--text">
            A <strong>virus</strong> is a tiny living organism. Viruses are so small they can be seen only
            with the most powerful microscopes. That's why they're called microorganisms (micro - very small). Other common 
            microorganisms include <strong>bacteria</strong>.Viruses are much smaller than bacteria. <br><br>
            Unlike bacteria, viruses can't reporduce on their own. So when viruses get into your body, they can take
            over certain <strong>cells</strong> and use structures in those cells to make more copies of the virus. This 
            usually damages and then kills the cell. However, some viruses can stay inside cells for a long time without killing them.<br><br>

            There are thousands of differnt viruses. Some viruses infect people. Other viruses infect animals only. Only a few 
            viruses can infect both. <br>
        
        </div>
        <div class="infoPage__seg--img"><img src="/images/virus1.jpg" width="100%" height="100%" ></div>
    </div>

    <div class="infoPage__seg">
        <div class="infoPage__seg--title">What is a viral infection?</div>
        <div class="infoPage__seg--text">
            A viral infection is a sickness caused by a virus. They can get into your body in various type of ways; 
            breathing air, sex, touching something with viruses on it, getting bitten by an infected bug - to name a few. <br><br>
            Usually, viruses will infect only one type of cell. For example, the virus that causes the common cold infects only 
            cells in your nose, mouth, and throat. When getting a virus, your white blood cells attack it. On top of this, 
             your white blood cells will gain 'fighters experience' and remember the best plan of attack if the virus were to ever
              enter the body again. <br><br>

            Some viruses can't fo away and make you sick for a long time (HIV / Herpevirus), while others make you sick shortly 
             after getting it and then go away. Antibiotics, which treat bacterial infections, can't treat infections.
             <br><br>
        
        </div>
        <div class="infoPage__seg--img"><img src="/images/virus2.jpg" width="100%" height="100%" ></div>
    </div>

    <div class="infoPage__seg" style="margin-bottom: 4rem;">
        <div class="infoPage__seg--title">How to fight/prevent viral infections?</div>
        <div class="infoPage__seg--text">
            Doctors can't usually do much to treat many viruses. They'll mainly suggest medicines to treat your symptoms and help you cope with your symptoms better.
             An example of this is when the Doc tells you to take a decongestant when having a stuffy nose. For some viruses, doctors might be able to give you an antiviral medicine. 
             Antiviral medicine is usually only used for a few viruses; like influenza, hepatitus virus, and HIV. Antibiotics are drugs that kill bacteria. Antibiotics do not kill viruses. <br><br>
             To prevent getting viral infections, one must take care of their health through cationary measures like washing your hands daily with soap, protective sex, getting recommended vaccines, and staying away from that 
             red eyed squirrel you see on the block that looks as if it were infected. <br><br>

            <strong>Vaccines</strong> are shots that teach your immune system how to fight off certain infextions. You usually fet vaccines before you're exposed to an infection. For some viruses, 
            you can get a shot after being exposed to it. These shots contain antibodies, or immunoglobulins) that help fight off the virus. For instance, a rabies vaccine.
            <br><br>
        
        </div>
        <div class="infoPage__seg--img"><img src="/images/virus3.jpg" width="100%" height="50%" ></div>
    </div>
</div>