<!DOCTYPE html>
<html>

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
    <title>viRus</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

    
    
</head>

<body>

    <div class="nav">
        <a href="http://localhost:3000/" class="nav__item">Home</a>
        <a href="http://localhost:3000/info" class="nav__item">Info</a>
        <a href="http://localhost:3000/posts" class="nav__item">Posts</a>
        <a href="http://localhost:3000/uploads" class="nav__item">Uploads</a>
        <a href="http://localhost:3000/subscribers" class="nav__item">Subscribers</a>
        <a href="http://localhost:3000/chatroom" class="nav__item">Chat</a>
        <a href="http://localhost:3000/contact" class="nav__item">Contact</a>
    </div>


    
    <!-- nav that goes in every page -->
    
    <%- body %> 
</body>
</html>