<div class="thanksPage">
    <div class="topbar"><h3>VI'R'US Community</h3></div>

    <div class="thanksPage__seg">
        <p id="thanksMsg">Thanks for subscribing! We'll make sure to update you on any new ground-breaking information we recieve on the latests viruses!</p>
        <img src="/images/thumbs.jpg" alt="Thumbs up img" id="thanksImg">
    </div>
</div>